<div class="nav-wrapper">
  <div class="nav">
    <div class="nav-title"><h1>Fake-Store</h1></div>
    <div class="nav-options">
      <nav>
        <ul>
          <li><a href="/">[home]</a></li>
          <li><a href="/products">[products]</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
