<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %> <% if (aProduct.length > 0) { %> <% let
    product = aProduct[0] %>
    <div class="products-content">
      <a href="javascript:history.back()">
        <%- include('./partials/productCard.ejs', { product: product }) %>
      </a>
    </div>
    <% } %>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
