* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #424046;
}
a {
  text-decoration: none;
  color: inherit;
}

.product-delete-confirm {
  background-color: white;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 950px;
}

.cancel-button {
  margin-top: 5px;
  width: 100px;
  padding: 2px;
}
/* category display */

/* Products display */
.product-card,
.category-card {
  background-color: white;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 950px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover,
.category-card:hover {
  border: 4px solid #d1552e;
}

.product-title,
.category-title {
  height: 10px;
  /* margin: 10px 0 20px; */
}

.product-thumbnail,
.category-thumbnail {
  /* margin: 40px 0 0 0; */
  height: 500px;
  width: 100%;
}

.product-thumbnail img,
.category-thumbnail img {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.product-thumbnail img:hover,
.category-thumbnail img:hover {
  border: solid black 2px;
}

.product-info,
.category-info {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10px; */
}
.product-description,
.category-description {
  text-align: justify;
  text-justify: distribute;
  font-size: 17px;
  margin: 20px 0;
  height: 240px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

.buy-button {
  background-color: rgb(97, 187, 97);
  color: white;
  border: green solid 1px;
}

.buy-button:hover {
  background-color: rgb(76, 155, 76);
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: rgb(158, 0, 0);
}

.products-content,
.category-content {
  background-color: #424046;
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-options-wrapper {
  /* border: pink solid 1px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-options {
  /* border: red solid 1px; */
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin-left: auto;
}

.product-options button {
  width: 100px;
  margin-left: 4px;
  padding: 2px;
}

/* addProducts partial */
.product-form-wrapper {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.product-form {
  /* border: orange solid 1px; */
  padding: 10px 0;
  width: 925px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #424046;
  color: white;
}

.product-form-top {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}

.product-form-top label {
  width: 50px;
}

.product-image,
.product-name {
  width: 500px;
}

.product-form-bottom label {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: left;
}

.product-form-bottom {
  /* border: orange solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 10px 0;
}
.product_description {
  border: purple solid 1px;
  width: 925px;
  height: 10em;
  /* height: 10em; */
}

.product-form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-form-selection {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.add-product {
  width: 100px;
  border: green solid 1px;
  background-color: rgb(122, 216, 122);
}

.add-product:hover {
  background-color: rgb(36, 180, 36);
}

/* nav partial */
.nav-wrapper {
  /* background-color: #2d2d2d; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.nav {
  /* border: #d1552e solid 1px; */
  background-color: #424046;
  color: white;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280;
  width: 100%;
  height: 100%;
}

.nav-title {
  width: 20%;
  text-justify: left;
}

.nav-options {
  /* border: purple solid 1px; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-options nav li {
  margin-left: 10px; /* Add some spacing between the list items */
}
